*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgba(0,132,253,1);
    color: white;
}
/* INIZIO LAYOUT */
.container-full{
    width: 100%;
}

.container{
    padding: 1rem 0;
    margin: 0 1rem;
}

.container-short{
    padding: 1rem 0;
    margin: 0 1rem;
}

.row{
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header-container{
    padding: 0 1rem;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col{
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.col-33{
    height: 200px;
    padding: 0 1rem;
    border: 1px solid black;
}

.col-50{
    width: 100%;
    height: 300px;
    border: 1px solid black;
}

.col-66 .col-50-demo{
    height: 200px;
}

.col-66{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.col-100{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 200px;
    border: 1px solid yellow;
}

.col-img{
    height: 50%;
    border: 1px solid black;
}

.col-text{
    height: 50%;
    border: 1px solid black;
}
/* FINE LAYOUT */
/* INIZIO UTILITY */
.menu-desktop{
    display: none;
}

.text-align-center{
    text-align: center;
}
/* INIZIO BACKGROUND */
.bg-blue{
    background-color: rgb(181, 221, 255);
}

.bg-violet{
    background-color: rgb(151, 146, 228);
}

.bg-white{
    background-color: white;
}

.bg-darkgray{
    background-color: rgb(51, 51, 51);
}
/* FINE BACKGROUND */
/* FINE UTILITY */

/* INIZIO MEDIA QUERY */
/* INIZIO MEDIA QUERY TABLET */
@media screen and (min-width: 480px) {
    .row{
        flex-direction: row;
    }

    .col-33{
        width: calc(100% / 3 - 1rem);
        margin: 0.5rem;
    }

    .col-66 .col-50-demo{
        border: 1px solid black;
        height: 50%;
    }

    .col-66{
        width: calc(100% / 3 * 2 - 1rem);
        margin: 0.5rem;
    }

    .col-100{
        flex-direction: row;
    }

    .col-img{
        width: 30%;
        height: 100%;
    }

    .col-text{
        width: 70%;
        height: 100%;
    }

    .benefits{
        width: calc(50% - 1rem);
        margin: 0.5rem;
    }
}
/* FINE MEDIA QUERY TABLET */
/* INIZIO MEDIA QUERY DESKTOP */
@media screen and (min-width: 768px){
    .container-short{
        max-width: 991px;
        margin: 0 auto;
    }

    .menu-desktop{
        display: block;
    }

    .menu-mobile{
        display: none;
    }

    .container{
        max-width: 1140px;
        margin: 0 auto;
    }

    .col-66{
        flex-direction: row;
    }

    .col-66 .col-50-demo{
        width: 50%;
        height: 100%;
    }

    .col-50{
        width: calc(50%);
    }

    .benefits{
        width: calc(100% / 3 - 1rem);
        margin: 0.5rem;
    }
}
/* FINE MEDIA QUERY DESKTOP */
/* FINE MEDIA QUERY */