*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;
}

header{
    background-color: rgb(0, 132, 253);
    color: white;
}
/* INIZIO LAYOUT */
.container-full{
    width: 100%;
}

.container{
    margin: 0 1rem;
}

.container-short{
    margin: 0 1rem;
}

.row{
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#jumbo .row{
    margin: 0 -0.5rem;
}

#benefits .row {
    margin: 0 -0.5rem;
}

.header-container{
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.align-items-center{
    align-items: center;
}

.col{
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.col-33{
    padding: 0 1rem;
}

.col-50{
    width: 100%;
}

.col-50.bg-white{
    border-radius: 2.5rem;
}

.col-66{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.col-100{
    width: 100%;
}

.col-img img{
    width: 50%;
    border-radius: 10rem;
}

#jumbo .content{
    margin: 2rem;
}

#testimonials .content{
    margin-left: 1rem;
    margin-right: 1rem;
}
/* FINE LAYOUT */
/* INIZIO UTILITY */
.logo img{
    height: 2rem;
}

.header-container i{
    font-size: 2rem;
}

.menu-desktop{
    display: none;
}

ul li{
    list-style-type: none;
    padding: 0 1rem;
}

ul li a{
    color: white;
    text-decoration: none;
}

.btn{
    padding: 0.5rem;
    border-radius: 1rem;
    border: 0;
}

.btn-white{
    background-color: white;
    color: #111;
}

.btn-blue{
    background-color: #0084fd;
    color: white;
}

.btn-violet{
    background-color: rgb(151, 146, 228);
    color: white;
}

.font-size-1-25{
    font-size: 1.25rem;
}

.justify-center{
    justify-content: center;
}

.text-align-center{
    text-align: center;
}

.text-uppercase{
    text-transform: uppercase;
}

#appstore-button{
    width: 80%;
}

.about-title{
    font-size: 3rem;
    margin-bottom: 3rem;
}

#about-us .col-img .content{
    position: relative;
}

#about-us .fas.fa-quote-left{
    position: absolute;
    font-size: 3rem;
    right: 60%;
    top: 0;
}
/* INIZIO UTILITY MARGIN E PADDING */
.my-1{
    margin: 1rem 0;
}
/* FINE UTILITY MARGIN E PADDING */

/* INIZIO UTILITY SEZIONI MAIN */
.color-blue{
    color: #0084fd;
}

.color-white{
    color: white;
}

.color-violet{
    color: rgb(151, 146, 228);
}

.color-gray{
    color: #5a6e7f;
}

.color-lightblack{
    color: #222;
}

.jumbo-img{
    width: 100%;
}

.icon-demo{
    font-size: 4rem;
    margin: 1rem 0;
}

#planning img{
    width: 100%;
}

.fa-down-long{
    padding: 1rem;
    border-radius: 2rem;
}

.benefit .content{
    padding: 2rem 0;
}

.number-benefit{
    font-size: 2.5rem;
}

#benefits .btn-violet{
    padding: 0.5rem 2rem;
}
/* FINE UTILITY SEZIONI MAIN */
/* INIZIO BACKGROUND */
.bg-blue{
    background-color: rgb(181, 221, 255);
}

.bg-violet{
    background-color: rgb(151, 146, 228);
}

.bg-white{
    background-color: white;
}

.bg-darkgray{
    background-color: rgb(51, 51, 51);
}
/* FINE BACKGROUND */
/* FINE UTILITY */

/* INIZIO MEDIA QUERY */
/* INIZIO MEDIA QUERY TABLET */
@media screen and (min-width: 480px) {
    .row{
        flex-direction: row;
    }

    .col-33{
        width: calc(100% / 3 - 1rem);
        margin: 0.5rem;
    }

    .col-66{
        width: calc(100% / 3 * 2 - 1rem);
        margin: 0.5rem;
    }

    .col-50-demo img{
        width: 50%;
    }

    #testimonials .col-100{
        display: flex;
    }

    #about-us .col-100{
        display: flex;
    }

    #about-us .col-img{
        width: 35%;
    }

    #about-us .col-text{
        width: 65%;
    }

    .col-img{
        width: 25%;
    }

    .col-img img{
        width: 100%;
    }

    .col-text{
        width: 75%;
    }

    #testimonials .col-text{
        display: flex;
        align-items: center;
    }

    #testimonials h3{
        text-align: left;
    }

    .benefit{
        width: calc(50% - 1rem);
        margin: 0.5rem;
    }
    
    #appstore-button{
        width: 50%;
    }

    #about-us .fas.fa-quote-left{
        right: 20%;
    }
}
/* FINE MEDIA QUERY TABLET */
/* INIZIO MEDIA QUERY DESKTOP */
@media screen and (min-width: 768px){
    .container{
        max-width: 1140px;
        margin: 0 auto;
    }
    
    .container-short{
        max-width: 991px;
        margin: 0 auto;
    }

    .menu-desktop{
        display: block;
    }

    .menu-mobile{
        display: none;
    }

    .col-66{
        flex-direction: row;
    }

    .col-66 .col-50-demo{
        width: 50%;
    }

    .col-50-demo img{
        width: 100%;
    }

    .col-50{
        width: calc(50% - 2rem);
        margin: 0 1rem;
    }

    .benefit{
        width: calc(100% / 3 - 1rem);
        margin: 0.5rem;
    }
}
/* FINE MEDIA QUERY DESKTOP */
/* FINE MEDIA QUERY */